body{
    background-color: #E8E8E8;
    font-family: "Times New Roman", Times, serif;
}

.navbar{
    background-color: white;
}

#navbrand{
    color:white;
    background-color: lightseagreen;
}

h3,h4{
    color: lightseagreen;
}

.main_article{
    padding: 5% 2%;
}

.side_visualization{
    padding: 5% 2%;
}

.viz{
    width: 45%;
}

.footer{
    border-top: 4px solid LightSeaGreen;
}

#footnote{
    text-align:center;
    color:white;
    font-size: 12px;
    padding:10px;
    margin: 0;

}

td:first-child{
    text-align: center;
} 


@media(max-width:576px){
    /* .navbar{
        background-color: lightseagreen; */
    }

    /* .navbar-collapse{
        background-color: white;
    } */

    .viz{
        width: 23%;
    }
}